<h1 data-aos="zoom-out-down">All motorbikes</h1>
<section id="main" data-aos="zoom-out-down">
  <% if (motorbikes && motorbikes.length> 0) { %> <%
  motorbikes.forEach(motorbike=> { %>
  <div
    data-aos="zoom-in"
    class="moto-container"
    style="background-image: url('/images/<%= motorbike.image %>')"
  >
    <h2><%= motorbike.brand %></h2>

    <div class="small-info">
      <p>Model: <%= motorbike.model %></p>
      <p class="mobile-hide">Year: <%= motorbike.year %></p>
      <p class="mobile-hide">Top Speed: <%= motorbike.topSpeed %></p>
    </div>

    <div class="overlay"></div>
  </div>
  <% }); %> <% } else { %>
  <p>No motorbikes found.</p>
  <% } %>
</section>
